<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>Servlets</display-name>
  <servlet>
    <servlet-name>xmlServlet</servlet-name>
    <servlet-class>xml.servlet.config.XmlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>xmlServlet</servlet-name>
    <url-pattern>/xmlConfiguredServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>customServlet1</servlet-name>
    <servlet-class>post.method.and.passing.parameters.CustomServlet1</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>customServlet1</servlet-name>
    <url-pattern>/customServlet1</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>customServlet2</servlet-name>
    <servlet-class>request.session.context.CustomServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>customServlet2</servlet-name>
    <url-pattern>/customServlet2</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>contextTestServlet</servlet-name>
    <servlet-class>request.session.context.ContextTestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>contextTestServlet</servlet-name>
    <url-pattern>/contextTestServlet</url-pattern>
  </servlet-mapping>
</web-app>